@using System.Reflection
@using System.IO
@using Humanizer

@page "/"

<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h1 class="h4 text-secondary mb-4">Sprint Name</h1>
    <b class="h1 text-white mb-4">@_name</b>
    <button type="button" class="btn btn-outline-secondary" @onclick="@Generate">
        <span class="bi-arrow-repeat me-1"></span>
        Generate
    </button>
</div>

@inject HttpClient Http

@code
{
    private string[] _adjectives;
    private string[] _animals;
    private string _name;

    protected override async Task OnInitializedAsync()
    {
        _adjectives = await LoadWords("adjectives.txt");
        _animals = await LoadWords("animals.txt");

        Generate();
    }

    private void Generate()
    {
        _name = $"{GetAdjective()} {GetAnimal()}".Titleize();
    }

    private string GetAdjective()
    {
        var random = new Random();
        return _adjectives[random.Next(0, _adjectives.Length)];
    }

    private string GetAnimal()
    {
        var random = new Random();
        return _animals[random.Next(0, _animals.Length)];
    }

    private async Task<string[]> LoadWords(string filename)
    {
        var list  = await Http.GetStringAsync($"word-lists/{filename}");
        return list.Split(Environment.NewLine).ToArray();
    }
}
